BASE_TEACHING_HTML = """{% extends 'base.html' %}

{% block title %}{{ block.super }} - Private Teaching{% endblock %}

{% block content %}
    {% include 'components/section_header.html' with section='teaching' title=page_title %}
    
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- Main Content -->
        <div class="lg:col-span-2">
            {% block teaching_content %}{% endblock %}
        </div>
        
        <!-- Sidebar -->
        <div>
            {% block teaching_sidebar %}{% endblock %}
        </div>
    </div>
{% endblock %}